<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/e9faa46f89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Titillium+Web:wght@200&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="nav">
        {{>header}}
    </header>

    <!-- Header end -->
    <br><br><br>
    <section class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="">
                                <img src="images/images.png" class="img-circle" height="65" width="65" alt="Avatar">
                                <ul>
                                    <li>
                                        <h4>Duanne Daniel Cruz</h4>
                                    </li>
                                    <li style="color: gray;">Main Developer & Founder</li><br>
                                    <li style="color: gray;">duanne_cruz@dlsu.edu.ph</li><br>
                                    <li style="color: gray;">(+63) 912-345-6789</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                                <img src="images/images.png" class="img-circle" height="65" width="65" alt="Avatar">
                                <ul>
                                    <li>
                                        <h4>Enrique Vibar</h4>
                                    </li>
                                    <li style="color: gray;">Main Developer & Co-founder</li><br>
                                    <li style="color: gray;">enrique_vibar@dlsu.edu.ph</li><br>
                                    <li style="color: gray;">(+63) 912-345-6789</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                                <img src="images/fem.png" class="img-circle" height="65" width="65" alt="Avatar">
                                <ul>
                                    <li>
                                        <h4>Christian Angelo U. Ranario</h4>
                                    </li>
                                    <li style="color: gray;">Main Developer & CEO</li><br>
                                    <li style="color: gray;">christian_ranario@dlsu.edu.ph</li><br>
                                    <li style="color: gray;">(+63) 912-345-6789</li><br>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>