<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/e9faa46f89.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Titillium+Web:wght@200&display=swap" rel="stylesheet">

        
    </head>
    
    <body>
        <!-- Header -->
        <header class="nav">
            {{>header}}
        </header>

    <!-- Header end -->

        <!-- Header end -->

        <main>
            <div class="home-container">
                <div class="subforum-container">
                    <div class="subforum-title">
                        <h1 class="subforum-title-text">Frequently Asked Questions</h1>
                    </div>
                    <div class="faqs">
                        <h3>Q. What is Our Forum?</h3>
                        <p>A. Our Forum is our CCAPDEV project wherein users can create posts and share it to everyone!</p>
                        <h3>Q. Is there a limit when it comes to the number of posts?</h3>
                        <p>A. There are no limits when it comes to the number of posts, however please do avoid creating spam posts.</p>
                        <h3>Q. Do I have to create a new account if I want to change my name?</h3>
                        <p>A. Unfortunately, yes you will have to delete your existing account and create a new one if you want to change your username.</p>
                    </div>
                </div>
            </div>
            
        </main>
    </body>

</html>

