<header class="nav">
    <h1>The Board/h1>
    <nav>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/createpost">Communities</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/contact">Contact</a></li>
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </ul>
    </nav>
    <a class="signup" href="/signup"><button>Signup</button></a>
</header>
