<div class="home-container">
	<div class="subforum-container">
		<div class="subforum-title">
			<h1 class="subforum-title-text">Games</h1>
		</div>
		<div class="subforum-row">
			<div class="subforum-icon subforum-column">
				<img class="subforum-icon-img" src="images/home/forum.png">
			</div>
			<div class="subforum-description subforum-column">
				<h1><a href="">Valorant.</a></h1>
				<p>CSGO meets Overwatch.</p>
			</div>
			<div class="subforum-statistics subforum-column">
				<span>13 posts | 2 Topics</span>
			</div>
			<div class="subforum-info subforum-column">
				<b><a href="">Last post</a></b> by <a href="">360noscope</a>
			</div>
		</div>

		<hr class="subforum-divider">

	</div>
</div>